<html>
<body>
<p><%= name %> from <%= ip %> uploaded new files:</p>
<ul>
<% file_list.each do |file| %>
  <li>
    <a href="<%= file[:link] %>">
      <%= file[:name] %>
    </a> : <%= file[:size].value.round(1) %> MB

    <a href="<%= file[:link] %>"><%= file[:link] %></a>
  </li>
<% end %>
<% if comment %>
<p>With comment:</p>
<p><%= comment %></p>
<% end %>
</ul>
</body>